<div class="page-header">
  <h1>Composing <small>with <strong>Chaplin</strong></small></h1>
</div>
<p>
  <a href="#/site" class="btn btn-inverse btn-large">
    <strong>Explore</strong>
  </a>
</p>
<div id="item-view-container"></div>
