<h3>{{name}}</h3>
<dl>
  <dt>cid</dt>
  <dd><code>{{cid}}</code></dd>

  <dt>timestamp</dt>
  <dd><code>{{formatDate timestamp}}</code></dd>

  <dt>region</dt>
  <dd><code>{{region}}</code></dd>
</dl>
