<nav>
  <h3>Inner</h3>
  <a data-name="inner#index" href="#{{url "inner#index"}}">Index</a>
  <a data-name="inner#other" href="#{{url "inner#other"}}">Other</a>
</nav>
<div id="inner-container"></div>
