<div id="header-container">
  <a href="#/"><strong>Return</strong></a>
  <header id="header"></header>
</div>
<div id="content-container">
  <nav>
    <h2>Content</h2>
    <a href="#/site">Index</a>
    <a href="#/site/other">Other</a>
    <a href="#/site/inner">Inner</a>
  </nav>
  <section id="content"></section>
</div>
<div id="footer-container">
  <footer id="footer"></footer>
</div>
