<div id="header-container">
  <a href="#{{url "home#index"}}"><strong>Return</strong></a>
  <header id="header"></header>
</div>
<div id="content-container">
  <nav>
    <h2>Content</h2>
    <a data-name="site#index" href="#{{url "site#index"}}">Index</a>
    <a data-name="site#other" href="#{{url "site#other"}}">Other</a>
    <a data-name="inner#index" href="#{{url "inner#index"}}">Inner</a>
  </nav>
  <section id="content"></section>
</div>
<div id="footer-container">
  <footer id="footer"></footer>
</div>
